<!DOCTYPE html>
<html lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}">

<head>
    <title th:text="#{page.title.bikefit}"></title>
</head>

<body>
    <div layout:fragment="corpo">

        <div class="text-center mb-5">
            <h1 class="display-6 fw-bold text-muted" th:text="#{mural.titulo}"></h1>
            <p class="text-muted" th:text="#{mural.subtitulo}"></p>
        </div>

        <div class="form-card p-4">
            <h4 th:text="#{sobre.linha-1}"></h4>
            <p th:text="#{sobre.linha-2}"></p>
            <p th:text="#{sobre.linha-3}"></p>
            <p th:text="#{sobre.linha-4}"></p>
            <p th:text="#{sobre.linha-5}"></p>
            <p th:text="#{sobre.linha-6}"></p>
            <a href="mailto:rcaliman@gmail.com">
                <p th:text="#{sobre.linha-7}"></p>
            </a>
        </div>
    </div>
</body>
</html>