<!-- layout.html melhorado -->
<!DOCTYPE html>
<html
  lang="pt-BR"
  class="h-100"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-17515965176"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-17515965176");
    </script>

    <!-- Meta Tags Essenciais -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Cache Control Otimizado -->
    <meta http-equiv="cache-control" content="public, max-age=3600" />

    <!-- Informações do Site -->
    <meta name="author" content="Rodrigo Caliman" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />

    <!-- Meta Tags Dinâmicas por Página -->
    <meta
      name="description"
      th:content="${metaDescription} ?: #{meta.description.default}"
    />
    <meta
      name="keywords"
      th:content="${metaKeywords} ?: #{meta.keywords.default}"
    />

    <!-- Canonical URL -->
    <link
      rel="canonical"
      th:href="${canonicalUrl} ?: 'https://www.nograu.com.br'"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="No Grau - Bikefit Virtual" />
    <meta
      property="og:locale"
      th:content="${#locale.toString().replace('_', '-')}"
    />
    <meta
      property="og:title"
      th:content="${metaOgTitle} ?: #{meta.og.title.default}"
    />
    <meta
      property="og:description"
      th:content="${metaOgDescription} ?: #{meta.og.description.default}"
    />
    <meta
      property="og:url"
      th:content="${canonicalUrl} ?: 'https://www.nograu.com.br'"
    />
    <meta
      property="og:image"
      th:content="${metaOgImage != null ? metaOgImage : 'https://www.nograu.com.br/img/og-image.png'}"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" th:content="#{meta.og.image.alt}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      th:content="${metaTwitterTitle} ?: #{meta.twitter.title.default}"
    />
    <meta
      name="twitter:description"
      th:content="${metaTwitterDescription} ?: #{meta.twitter.description.default}"
    />
    <meta
      name="twitter:image"
      th:content="${metaTwitterImage != null ? metaTwitterImage : 'https://www.nograu.com.br/img/og-image.png'}"
    />
    <meta name="twitter:image:alt" th:content="#{meta.twitter.image.alt}" />

    <!-- Temas e Cores -->
    <meta name="theme-color" content="#0d6efd" />
    <meta name="color-scheme" content="light" />

    <!-- Favicons (você precisará adicionar os arquivos) -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      th:href="@{/img/favicon-32x32.png}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      th:href="@{/img/favicon-16x16.png}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      th:href="@{/img/apple-touch-icon.png}"
    />

    <!-- Estrutura de Dados JSON-LD -->
    <script type="application/ld+json" th:inline="none">
      {
          "@context": "https://schema.org",
          "@type": "WebApplication",
          "name": "No Grau - Bikefit Virtual",
          "description": "Sistema de Bikefit Virtual gratuito",
          "url": "https://www.nograu.com.br",
          "applicationCategory": "UtilityApplication",
          "operatingSystem": "Web",
          "author": {
              "@type": "Person",
              "name": "Rodrigo Caliman",
              "email": "rcaliman@gmail.com"
          },
          "datePublished": "2010-01-01",
          "inLanguage": ["pt-BR", "en", "es", "fr", "it"],
          "offers": {
              "@type": "Offer",
              "price": "0",
              "priceCurrency": "BRL"
          }
      }
    </script>

    <!-- CSS Resources -->
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.3.7/dist/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}"
    />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />

    <!-- Título Dinâmico -->
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">No Grau</title>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="flex-shrink-0 container-lg">
      <div layout:fragment="corpo"></div>
    </main>

    <footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

    <script
      th:src="@{/webjars/bootstrap/5.3.7/dist/js/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/js/mascaras.js}"></script>
  </body>
</html>
